

svg {
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(400px, -200px);
	box-shadow: 1px 1px 5px 1px gray;
	background-color: white;
}

.bar {
	fill: blue;
}

.bar:hover {
	fill: rgba(0,0,256,.5);
}

#tooltip {
	display: none;
	position: absolute;
	width: 120px;
	line-height: 5px;
	background-color: rgba(0,0,256,.5);
	border-radius: 5px;
	border: 1px solid navy;
	text-align: center;
	font-family: helvetica;
	z-index: 1;
}